src/HydroCloud/Service References/ServiceReference/Service5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HydroCloud.Web.RS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HydroCloud.Web.RS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1894/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfSensorImageRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SensorImageRecord" nillable="true" type="tns:SensorImageRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSensorImageRecord" nillable="true" type="tns:ArrayOfSensorImageRecord" />
  <xs:complexType name="SensorImageRecord">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BBox" nillable="true" type="q1:ArrayOfdouble" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ImageFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LegendFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SensorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialID" type="xs:int" />
      <xs:element minOccurs="0" name="VariableName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SensorImageRecord" nillable="true" type="tns:SensorImageRecord" />
</xs:schema>