src/HydroCloud/Service References/ServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HdyroCloud.Web.RS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HdyroCloud.Web.RS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1894/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="RegularGrid">
    <xs:sequence>
      <xs:element minOccurs="0" name="CellSize" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CentroidX" nillable="true" type="q1:ArrayOfdouble" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CentroidY" nillable="true" type="q2:ArrayOfdouble" />
      <xs:element minOccurs="0" name="NCell" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegularGrid" nillable="true" type="tns:RegularGrid" />
</xs:schema>